@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    margin-top:0 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: red;
    text-align: center;
    background-color: #fff;
}
div {
    display: grid;
    grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  padding: 10px;


    
}
input {
border-width: 5px;
border-color: #FF8882;

}

.addIngredientsbutton{
    color:white;
    background-color: #FFA384;
    font-family: monospace;
    
}
#ingredients_container {
    color: green;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border-bottom: 3px solid #FFA384;

}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--title-color);
    background-color: var(--accent-two);
    border-bottom: var(--accent-one) 20px double;
}
p {
    text-align: center;
    color:green;
    font-size: 20px;

    /*display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;*/
    display: flex;
    justify-content: flex-start;

}
.hd1 {
    display: flex;
    justify-content: flex-start;
}
.center {
    /*display: flex;*/
    height: 130px;
    width: 200px;
    margin-left: 600px;
    justify-content: space-between;
    /*color:#543855;*/
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250px;
    /*background-color:pink*/
    border-bottom: 1px solid black;
}
button {
    
    background: #543855;
    display: flex;
    color:#E88D72;
    justify-content:flex-start;
    cursor: pointer;
    font-family: 'Press Start 2P', monospace;
    /*color: var(--text-color);
    background: var(--accent-one);*/
    font-size: .8em;
    border-radius: .4em;
    padding: .6em .6em;
    margin: .6em .4em;
}
.firstbox {
    min-height: 40em;
    display: flex;
}
.ingrdients {
    max-width: 30em;
    margin-right: 2em;
}
.ingrdientsL {
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    font-family: 'Press Start 2P', monospace;
    margin: 200px;
    padding: 0;
    display: flex;
    flex-direction:column;
    
}

h1 {
    color:red;
    font-family: Lato", "sans serif;

}
.top-nav-bar {
    
    height: 160px;
    width: 100%;
    top:0;
    position: sticky;
    background-color:#3b6b4e ;
    
    border-bottom: 3px solid navy;
    z-index: 2;
}
#logo{
    position: center;
    z-index: 2;
    height: 200px;
    /*width: 200px;*/
    margin: 10px auto 0 auto;
}
.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 2px solid navy;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}
.input-group-text {
    background: navy;
    border: 2px solid navy;
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;


}

.search-box {
    display: inline-flex;
    width: 60%;
}
.fa fa-search {
    color: navy;
}

.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul {
    display: inline-flex;
    float: right;
}
.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: navy;
    cursor: pointer;
    

}
.menu-bar ul li a {
    font-size: 20px;
    font-weight: bold;
    color:green;
    text-decoration: none;
}

.shopping-cart {
    margin-right: 10px;

}
@media only screen and (max-width:980px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box {
        width:100%;

    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%
    }
}

@media(max-width: 500px) {
    header {
        flex-direction: row;
    }

.container {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*@media (min-width: 1200px)*/

}






/*footer {
    color:white;
    margin-top: 5px;
    margin-bottom: 200px;
    min-height: 230px;
    padding: 40px 0;
    background-image:url(https://sve.vailschooldistrict.org/wp-content/uploads/sites/15/2019/09/dark-blue-grunge-background-caracterdesign.jpg) ;
}*/
